<div class="form-popup" id="myForm">
    <form  class="form-container" name="myform" action="library/login_check.php" method="post">

        <input type="hidden" name="csrf" value="@csrf_token@">
        <h1>Login</h1>
        <div class="input">
            <input type="email" name="usr_email" id="usr_email" value="" />
            <label for="usr_email" class="label-name">
                <span class="content-name">Email</span>
            </label>
        </div>
        <div class="input">
            <input type="password" name="usr_password" id="usr_password" value="" />
            <label for="usr_password" class="label-name">
                <span class="content-name">Password</span>
            </label>
        </div>
        <div class="buttons">
            <button type="submit" class="btn">Login</button>
        </div>
        <div class="cancel" onclick="closeForm()">
            <button>
                <svg class="icon icon-cross">
                    <use
                            xlink:href="./dist/icomoon/symbol-defs.svg#icon-cross"
                    ></use>
                </svg>
            </button>
        </div>
    </form>
</div>