<header id="main">
  <nav>
    <div class="container">
      <a href="index.php" class="home">
        <h3 class="logo">Easy<span>Search</span></h3>
      </a>

      <div class="wrapper">
        <div class="search">
          <!--  <input type="text" placeholder="search for doctor specialty" /> -->
          <!-- @select_speciality@-->
          <form action="index.php" class="form-search" method="post">
            <input
              type="hidden"
              id="search"
              name="search"
              value="search_results.php"
            />
            <input
              id="search-collection"
              class="search-collection"
              type="text"
              name="search"
              placeholder="search for doctor specialty"
            />

            <a>
              <svg class="icon icon-search">
                <use
                  xlink:href="../dist/icomoon/symbol-defs.svg#icon-search"
                ></use>
              </svg>
            </a>
          </form>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">@usr_name@</button>
        <div class="dropdown-content">
          <a href="profile.php">My Profile</a>
          <a href="settings.php">My Settings</a>
          <a href="logout.php">Logout</a>
        </div>
      </div>
    </div>
  </nav>



