<section>
    <div class="shadow"></div>
    <div class="container">
        <div class="content opacity">
            <h3 class="title">About</h3>
            <div class="border"></div>
            <p class="text">

            </p>
            <form  class="form-container" action="search_results.php" method="post">
                <div class="input">
                    <label for="specialty" class="label-name">
                        <span class="content-name">Specialty</span>
                    </label>
                    <div class="col-sm-10">
                        @select_specialty@
                    </div>
                </div>
            </form>
        </div>
        <div class="imgContainer opacity">
            <img src="./dist/images/dna.jpg" alt="" />
        </div>
    </div>
</section>