<section>
    <div class="shadow"></div>
    <div class="container">
        <div class="content opacity">
            <h3 class="title">About</h3>
            <div class="border"></div>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                asperiores ea iure facilis cumque velit. Cupiditate vitae quos
                tempora ab aliquam facere, iste maiores molestiae laborum
                consequatur impedit fugiat officia?
            </p>
        </div>
        <div class="imgContainer opacity">
            <img src="./dist/images/dna.jpg" alt="" />
        </div>
    </div>
</section>