<div class= "container">
    <div class="row">
        <div class ="col-sm-6 col-sm-offset-4">


            <!-- end security -->
            <form id="mainform" name="mainform" action="library/login-check.php" method="post">

                <!-- security -->
                <input type="hidden" name="csrf" value="@csrf_token@">
                <div class="form-group row">


                    <div class="form-group row">
                        <label for="usr_email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email"  class="form-control" id="usr_email" name="usr_email" value="">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="usr_password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password"  class="form-control" id="usr_password" name="usr_password" value="">

                        </div>
                    </div>


                    <div>
                        <button type="submit" class="btn btn-dark" value="Login" style="padding: 10px 80px;">Login</button>
                    </div>
                </div>
            </form>
            <a href="register.php">Nog geen account, registreer je hier</a>
        </div>
        </div>
    </div>
</div>




