@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(./fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url(./fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  src: url(./fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  src: url(./fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  src: url(./fonts/Raleway/Raleway-Regular.ttf) format("truetype");
}
@import url("../../../dist/icomoon/style.css");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
